// COLOR DECLARATIONS
$primary-color: #9747FF;
$primary-color-alt: #6931B2;
$secondary-color: #FF8181;
$secondary-color-alt: #C06060;
$success-color: #7DC579;
$alternate-color: #6360FF;
$dark-color : #161719;
$dark-mode-color : #292B2D;
$less-dark-color : #212325;
$gray : #58595C;
$text-light-color : #FCFCFF;

body {
    overflow-x: hidden;
    
    // height: 100vh;
    *{
        margin: 0px;
        font-family: 'DM Sans', sans-serif;
        padding: 0px;
    }

}

    a {
        text-decoration: none;
    }

    // background-color: $primary-color;

    // HEADING DECLARATION

    .base-text-small {
        font-size: 10px;
    }
    .base-text{
        font-size: 14px;
        color: #fff;
    }

    .base-text-semi-small {
        font-size: 12px;
    }

    .large-text{
        font-size: 16px;
        font-weight: 100 !important;
    }

    .big-display{
        font-size: 24px;
    }

    .big-display-alt{
        font-size: 24px;
        font-family: 'Elsie', cursive;
        text-transform: uppercase;
    }

    .primary-bg {
        background-color: $primary-color !important;
    }

    .mt-4 {
        margin-top: 40px !important;
    }

    .mt-10{
        margin-top: 10rem !important;
    }

    .mt-7{
        margin-top: 7rem !important;
    }

    .bottom-sheet{
        background-color: $dark-color;
        width: 100%;
        padding: 1rem 2rem !important;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        position: fixed;
        bottom: 0px;
    }

    .form-control {
        border: 1px solid $gray;
        color: #fff !important;
        background-color: $dark-color;
        padding: 15px;
        border-radius: 10px;
    }

    .form-control:focus{
        background-color: $dark-color;
        box-shadow: none;
        border-color: $gray;
    }

    //SPACING [PADDING & MARGIN] 8PT GRID

    .pb-3 {
        padding-bottom: 24px !important;
    }
    .mr-3 {
        margin-right: 24px !important;
    }

    .mr-2{
        margin-right: 16px !important;
    }

    .mr-1 {
        margin-right: 8px !important;
    }

    // BUTTON STYLES

    .icon-box{
        background-color: $gray;
        border-radius: 10px;
        padding: 8px;
        width: max-content;
    }

    .btn-pressable{
        color: $text-light-color;
        border-radius: 50px;
        transition: 200ms ease-in all;
    }

    .btn-pressable:hover, 
    .btn-pressable:active {
        background-color: $gray;
    }

    .btn-primary {
        background-color: $primary-color;
        padding: 10px 20px;
        border-radius: 10px;
        outline: none;
        border: none;
    }

    .btn-primary:focus, .btn-primary:hover{
        background-color: $primary-color-alt;
    }

    .btn-secondary {
        background-color: $secondary-color;
        padding: 10px 20px;
        border-radius: 10px;
        outline: none;
        border: none;
    }

    .btn-secondary:focus, .btn-secondary:hover{
        background-color: $secondary-color-alt;
    }

    // LINK STYLES
    .link{
        color: $alternate-color;
        text-decoration: none;
    }

    .link:hover{
        text-decoration: underline;
    }

    button.btn-link,
    a.btn-link {
        text-decoration: none;
        color: $gray;
        font-weight: 500;
    }

    button.btn-link.active,
    a.btn-link.active{
        color: $text-light-color;
    }

    .input-group{
        .input-group-text{
            background-color: transparent;
            border: 1px solid $gray;
            border-right: 0px;
            padding-left: 20px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        .form-control{
            border-left: 0px;
        }
    }

    .gray-color{
        color: $gray !important;
    }

    // IMAGE
    .img-rounded{
        height: 60px;
         width: 60px;
        border-radius: 200px;
    }

    .img-rounded-big{
        height: 110px;
        width: 110px;
        border-radius: 200px;
        overflow: hidden;
    }

    .img-course-sm {
        max-height: 60px;
    }

    .img-course {
        max-height: 80px;
    }

    .main {
        height: 100vh;
        background-color: $primary-color;
        display: flex;
        z-index: -1005;
        padding: 16px;
        flex-direction: column;
    }

    .darkmode{
        background-color: $dark-mode-color;
        color: $text-light-color;
    }

    
    .darkmode .card {
        background-color: $less-dark-color;
        border: none;
        border-radius: 10px;
        z-index: 2000;
    }

    .favBtn,
    .closeBtn {
        position: absolute;
        z-index: 3000;
        margin-top: -30px;
        margin-right: -30px;
        background-color: var(--bs-gray);
        padding: 3px 10px;
        border-radius: 100px;
    }

    button.favBtn.btn.btn-link {
        position: absolute !important;
        margin-top: 80px !important;
        width: max-content !important;
        background-color: #58595C !important;
    }
    

    .favBtn:active,
    .closeBtn:active {
        color: black;
    }

    .space-between {
        justify-content: space-between;
    }

    // progress bar
    .progress,
    .progress-bar{
        border-radius: 25px;
    }
    
    .progress-bar{
        background-color: $success-color;
    }

    // text color
    .text-gray {
        color: $gray;
    }

    // Bottom bar
    .bottom-bar{
        height: 10%;
        background-color: $less-dark-color;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
    }

    .btn.b-tab.active svg path,
    .btn.b-tab.active{
        color: $secondary-color;
        fill: $secondary-color;
    }
    .btn.b-tab{
        color: $text-light-color;
    }

    .btn:focus{
        box-shadow: none;
    }

    // animate css tweak
    .animate__fadeIn {
        z-index: 2000;
    }


    //badges
    a.badges{
        color: $text-light-color;
        text-decoration: none;
    }

    a.badges:hover,
    a.badges:active{
        background-color: $primary-color-alt;
    }

    .badges {
        padding: 10px 15px;
        background-color: $alternate-color;
        border-radius: 25px;
    }

    .badges p {
        margin-bottom: 0px;
    }

// }

